<ul class="users">
  <% requests.each do |request| %>
      <li>
        <div class="user-info">
          <%= image_tag request.photo, class: "avatar" %>
          <%= "#{request[:firstName]} #{request[:lastName]}" %>
        </div>
        <div class="user-controls">
          <%= link_to "approve",
                      approve_request_path(request.id),
                      class: "btn btn-primary", method: :post %>
          <%= link_to "deny",
                      deny_request_path(request.id),
                      class: "btn", method: :post  %>
        </div>
      </li>
  <% end %>
</ul>
<%= link_to "deny all", deny_all_request_path , class: "btn btn-danger",
            method: :post  if requests.count > 0 %>
