<ul class="users">
  <% requests.each do |request| %>
      <li>
        <div class="user-info">
          <%= image_tag request.photo, class: "avatar" %>
          <%= "#{request[:firstName]} #{request[:lastName]}" %>
        </div>
        <div class="user-controls">
          <%= link_to "approve",
                      approve_user_path(request.id),
                      class: "btn btn-primary" %>
          <%= link_to "deny",
                      deny_user_path(request.id),
                      class: "btn" %>
        </div>
      </li>
  <% end %>
</ul>
<%= link_to "deny all", deny_all_user_path , class: "btn btn-danger" if requests.count > 0 %>
