<% provide(:title, @user.name) %>
<% f_user = @client.user("self") %>
<div class="row">
  <aside class="span4 user-info" >
    <section>
      <%= image_tag f_user[:photo], class: "avatar" %>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <% friends = @client.user_friends("self") %>
    <% friends.each do |friend| %>
        <%= friend.items.firstName %>
    <% end %>
  </aside>
  <div class="span6">
    <div class="tabbable tabs-right">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_friends" data-toggle="tab">
          Friends (<%= friends.count %>)</a></li>
        <li><a href="#tab_requests" data-toggle="tab">
          Requests (<%= @client.user_requests.count %>)</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_friends">
          <%= render 'friends', friends: friends %>
        </div>
        <div class="tab-pane" id="tab_requests">
          <%= render 'friends', friends: friends %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= debug(@client.user_requests) %>

